html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------------------------------------- Header */
.header-brand {
  padding: 8px;
}

.header-number {
  display: flex;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-number i {
  display: inline;
  color: #000;
}

.header-number h3 {
  display: inline;
  color: #000;
  font-size: 1.1rem;
}

.header-number i {
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.company-logo {
  width: 100%;
  max-width: 400px;
}

.custom-navbar {
  background-color: #4f95ff;
}

.text-right {
  margin-left: auto;
}

.nav-link {
  font-size: 18px;
}

/* ------------------------------------------------------------------------- Main */

.cover-image {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

main h1 {
  font-family: Arial, Helvetica, sans-serif;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* ------------------------------------------------------------------------- Footer */

footer {
  background-color: #333;
  color: #fff;
  margin-top: auto;
}

.footer-top {
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #4f95ff;
  display: flex;
  flex-direction: column;
}

.footer-element {
  flex-basis: 30%;
}

.footer-info {
  margin: 15px;
}

.footer-info-link i {
  display: inline;
}

.footer-info-link p {
  display: inline;
}

.footer-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-start: 0;
  text-align: center;
  margin: 10px;
}

.footer-info-item {
  list-style: none;
  margin: 10px 0;
}

.footer-info-item a {
  color: #fff;
}

.footer-image {
  max-width: 100%;
  max-height: 162px;
}

.footer-copyright {
  font-size: 12px;
  text-align: center;
}

.footer-copyright p {
  margin: 5px;
}

@media (min-width: 992px) {
  .header-top {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
  }
  .header-number {
    padding-top: 8px;
  }
  .custom-navbar {
    padding: 0 !important;
    padding-right: 15% !important;
    padding-left: 15% !important;
  }
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }
}
