.header-number {
  display: flex;
  padding: 8px;
}

.header-number h2 {
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.header-number svg {
  margin-right: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-number {
  display: flex;
}

.company-logo {
  width: 100%;
  max-width: 400px;
}

.custom-navbar {
  background-color: #4f95ff;
}

.text-right {
  margin-left: auto;
}

@media (min-width: 992px) {
  .header-top {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
  }
  .custom-navbar {
    padding: 0 !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
  }
}
