html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* --------------- Header */
.header-brand {
  padding: 8px;
}

.header-number {
  display: flex;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 200px;
}

.header-number i {
  display: inline;
  color: #000;
}

.header-number h3 {
  display: inline;
  color: #000;
  font-size: 1.1rem;
}

.header-number i {
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.company-logo {
  width: 100%;
  max-width: 400px;
}

.header-bottom {
  background-color: #4f95ff;
}

.text-right {
  margin-left: auto;
}

.nav-link {
  font-size: 18px;
}

/* --------------- Main */

main {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.cover-image {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 12px;
}

main h1 {
  font-family: Arial, Helvetica, sans-serif;
}

main p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Services */

.services-content {
  display: flex;
  flex-direction: column-reverse;
}

.services-element {
  flex-basis: 50%;
}

.region-image {
  width: 100%;
}

/* Contact */

.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-page div {
  width: 100%;
}

.contact-page-info {
  text-align: center;
}

.contact-page-info p {
  font-size: 20px;
}

.contact-google-map {
  display: block;
  max-width: 400px;
  margin: auto;
}

/* --------------- Footer */

footer {
  background-color: #4f95ff;
  color: #fff;
  margin-top: auto;
}

.footer-top {
  padding: 20px;
  background-color: #4f95ff;
  display: flex;
  flex-direction: column;
}

.footer-element {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.footer-info {
  margin: 15px;
}

.footer-info-link i {
  display: inline;
}

.footer-info-link p {
  display: inline;
}

.footer-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-start: 0;
  text-align: center;
  margin: 10px;
}

.footer-info-item {
  list-style: none;
  margin: 10px 0;
}

.footer-info-item a {
  color: #fff;
  /* max-width: 100px; */
}

.footer-image {
  /* max-width: 230px; */
  max-width: 230px;
  /* max-height: 162px; */
}

.footer-copyright {
  font-size: 12px;
  text-align: center;
  background-color: #333333;
  padding: 5px;
}

.footer-copyright p {
  margin: 0;
}

/* --------------- Desktop */

@media (min-width: 768px) {
  .header-top {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .header-number {
    padding-top: 8px;
  }
  .custom-navbar {
    padding: 0 !important;
    max-width: 1000px !important;
    margin: auto !important;
  }
  .services-content {
    flex-direction: row;
  }
  .contact-page {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
  }
  .footer-element {
    display: flex;
    align-items: center;
  }
  .footer-image {
    width: 100%;
  }
}
