body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: 'Arial';
}

a {
  text-decoration: none;
}

/* Header */
.header-brand {
  padding: 8px;
}

.header-number {
  display: flex;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 8px;
  padding-bottom: 16px;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 200px;
}

.header-number i {
  display: inline;
  color: #000;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-number h3 {
  display: inline;
  color: #000;
  font-size: 1.1rem;
}

.company-logo {
  width: 100%;
  max-width: 400px;
}

.header-bottom {
  height: 5px;
  background-color: #4f95ff;
}

/* Main Container */
.main-container {
  padding-left: 20px;
  padding-right: 20px;
}

.section h1 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.section p {
  font-size: 20px;
  line-height: 26px;
  margin: 0px;
}

/* About */
.about {
  margin-top: 20px;
}

/* Services */
.services {
  margin-top: 50px;
}

.services-content {
  display: flex;
  flex-direction: column;
}

.services-text {
  width: 100%;
  margin-bottom: 20px;
}

.services-image {
  width: 100%;
}

.region-image {
  width: 100%;
}

/* Contact */
.contact {
  margin-top: 50px;
  margin-bottom: 20px;
}

.contact-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-text {
  width: 100%;
}

.contact-text p {
  margin-bottom: 20px;
}

.contact-map {
  width: 100%;
}

.contact-google-map {
  display: block;
  width: 100%;
  margin: auto;
}

/* Footer */
footer {
  background-color: #4f95ff;
  color: #fff;
  margin-top: auto;
}

.footer-top {
  padding: 20px;
  background-color: #4f95ff;
  display: flex;
  flex-direction: column;
}

.footer-element {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.footer-info {
  margin: 15px;
}

.footer-info-link i {
  display: inline;
}

.footer-info-link p {
  display: inline;
}

.footer-info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline-start: 0;
  text-align: center;
  margin: 10px;
}

.footer-info-item {
  list-style: none;
  margin: 10px 0;
}

.footer-info-item a {
  color: #fff;
}

.footer-image {
  max-width: 230px;
}

.footer-copyright {
  font-size: 12px;
  text-align: center;
  background-color: #333333;
  padding: 5px;
}

.footer-copyright p {
  margin: 6px;
}

/* Desktop */
@media (min-width: 800px) {
  /* Header */
  .header-top {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .header-number {
    padding-bottom: 0px;
  }
  /* Main Container */
  .main-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Services */
  .services-content {
    flex-direction: row;
  }
  .services-text {
    padding-right: 20px;
  }
  .services-image {
    margin-bottom: 0px;
  }
  /* Contact */
  .contact {
    margin-bottom: 50px;
  }
  .contact-content {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact-text {
    margin-bottom: 0px;
  }
  /* Footer */
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
  }
  .footer-element {
    display: flex;
    align-items: center;
  }
  .footer-image {
    width: 100%;
  }
}
